<template>
  <div class="b-viewer-notes-item-form">
    <form class="b-viewer-form"
          method="post"
          @submit.prevent="post">

      <label class="b-viewer-form-control">
        <span class="b-viewer-form-control-label">Заголовок</span>
        <input ref="note_title"
               v-model="note.title"
               v-focus>
      </label>

      <div :class="['b-viewer-form-note', prevent_cite ? 'error' : '']">
        <p>Вы можете скопировать 10&nbsp;% текста книги</p>
        <p>Скопировано: {{copied_symbols_percent}}&nbsp;%</p>
      </div>

      <label class="b-viewer-form-control">
        <div class="b-viewer-form-control-header">
          <span class="b-viewer-form-control-label">Заметка</span>

          <div class="b-viewer-controls"
               v-if="citation_active">
            <button class="b-viewer-control-button"
                    type="button"
                    :disabled=prevent_cite
                    @click="cite">Вставить выделенный текст</button>
          </div>
        </div>
        <textarea ref="note_text"
                  v-model="note.text"
                  rows=10></textarea>
      </label>

      <div class="b-viewer-controls">
        <button class="b-viewer-control-button">Сохранить</button>

        <button class="b-viewer-control-button"
                type="button"
                @click="remove">Удалить</button>
      </div>
    </form>
  </div>
</template>

<script>
  import throttle from 'throttle-debounce/throttle'
  import object_value from '../helpers/object_value'

  export default {
    props: {
       note: null
    },
    data: function () {
      return {
        show_form: false,
      }
    },
    computed: {
      citation_active() {
        return this.$store.state.citation_active
      },
      book_symbols() {
        return this.$store.state.book.symbols
      },
      copied_symbols() {
        return this.$store.state.user.limits.copied_symbols
      },
      allowed_symbols_percent() {
        return this.$store.state.user.limits.copied_symbols_allowed
      },
      allowed_symbols() {
        return this.book_symbols * this.allowed_symbols_percent
      },
      copied_symbols_percent() {
        return Math.round( this.copied_symbols / this.book_symbols * 100 )
      },
      copied_limit_percent() {
        return Math.round( this.copied_symbols / this.allowed_symbols * 100 )
      },
      prevent_cite() {
        return this.copied_symbols > this.allowed_symbols
      },
    },
    methods: {
      post() {
        let obj = {
          _id: this.note._id,
          title: this.note.title,
          text: this.note.text
        }

        this.$store.dispatch('update_note', obj)
      },
      remove() {
        if ( confirm('Удалить заметку?') ) {
          this.$store.dispatch('delete_note', this.note._id)
        }
      },
      close() {
        this.$store.commit('set_current_note', null)
      },
      get_selected_text() {
        let iframe = document.querySelector('.js-iframe')

        let win = iframe.contentWindow
        let doc = iframe.contentDocument || win.document

        if (win.getSelection) {
          return win.getSelection().toString()
        } else if (doc.selection && doc.selection.createRange) {
          return doc.selection.createRange().text
        }
      },
      cite: throttle(200, function() {
        let text = this.get_selected_text()

        if (text.length > 0) {
          this.$store.dispatch('update_limit_symbols', text.length)
        }

        if (text) {
          let note = this.note
          let result = object_value( note, 'text', '') + ' '  + text +
            ' [' + this.$store.state.book.bibliography + ' — стр. ' + this.$store.state.current_page_number + ']'

          this.note.text = result

          // Hack to solve reactivity issue with frozen update
          $( this.$refs.note_text ).val(result)
        }
      })
    }
  }
</script>