<template>
  <div :class="['b-viewer-page', is_current ? 'current' : '']"
       :style="{'background-image': background_image}">
    <iframe class="b-viewer-page-iframe js-iframe"
            v-if="html_src"
            :src="html_src"
            frameborder="0"></iframe>
  </div>
</template>

<script>
  import mixin from './mixin__viewer__pages__item'

  import throttle from 'throttle-debounce/debounce'
  import debounce from 'throttle-debounce/debounce'
  import is_in_view from '../helpers/is_in_view'
  import object_value from '../helpers/object_value'

  export default {
    mixins: [mixin],
    data() {
      return {
        name: "pages",
        scroll_timeout: null,
        show_html: false
      }
    },
    computed: {
      background_image() {
        return this.viewed && !this.html_src
          ? "url('" + object_value(this, 'page.image_src') + "')"
          : "none"
      },
      citation_active() {
        return this.$store.state.citation_active
      },
      html_src() {
        return this.citation_active && this.is_current
          ? object_value(this, 'page.html_src')
          : false
      }
    },
    methods: {
      set_current_on_scroll() {
        const instance = this

        if ( !instance.is_current &&
          is_in_view(instance.$el, true)
        ) {
          instance.set_current_page_number()
        }

        clearTimeout(this.scroll_timeout)
        this.scroll_timeout = setTimeout(() => {
          this.prevent_scroll_to_element = false
        }, 800)
      },
      handle_scroll() {
        this.set_viewed_on_scroll()
        this.set_current_on_scroll()
        this.prevent_scroll_to_element = true
      }
    }
  }
</script>