<template>
  <div class="b-viewer-header">
    <template v-if="pages_amount">
      <div class="b-viewer-controls">
        <button class="b-viewer-control-page-button b-viewer-control-page-button_prev"
                type="button"
                @click="current_page_number__decrement"
                :disabled=current_page_number_is_first></button>
        <input class="b-viewer-control-page-number-input"
               v-model.number="current_page_number"
               type="number"
               :disabled=search_active>
        <span class="b-viewer-control-page-number">из&nbsp;{{ pages_amount }}</span>
        <button class="b-viewer-control-page-button b-viewer-control-page-button_next"
                type="button"
                @click="current_page_number__increment"
                :disabled=current_page_number_is_last></button>
      </div>

      <div class="b-viewer-controls">
        <button :class="['b-viewer-control-button', show_notes ? 'b-viewer-control-button_dark' : '']"
                type="button"
                @click="toggle_show_notes">Конспекты</button>
        <button class="b-viewer-control-button"
                v-if="show_notes"
                type="button"
                @click="add_note">Новая заметка</button>
        <button :class="['b-viewer-control-button', citation_active ? 'b-viewer-control-button_dark' : '']"
                type="button"
                @click="cite">{{citation_active ? 'Выключить режим цитирования' : 'Цитировать'}}</button>
      </div>

      <div class="b-viewer-controls">
        <div :class="['b-viewer-control-modal-wrap', show_print ? 'active' : '']">
          <button :class="['b-viewer-control-button', show_print ? 'b-viewer-control-button_dark' : '']"
                  type="button"
                  @click="print">Печать</button>

          <viewer__print v-if="show_print" />
        </div>
      </div>

      <div class="b-viewer-controls">
        <input class="b-viewer-control-input"
               v-model="search_input"
               placeholder="Поиск">

        <button class="b-viewer-control-button"
                type="button"
                v-if="search_input"
                :disabled=searching
                @click="run_search">
          {{searching ? 'Ищем...' : 'Найти'}}
        </button>

        <button class="b-viewer-control-button"
                v-if="search_active"
                type="button"
                @click="reset_search">Очистить</button>
      </div>
    </template>
  </div>
</template>

<script>
  import viewer__print from './viewer__print.vue'

  import throttle from 'throttle-debounce/throttle'
  import debounce from 'throttle-debounce/debounce'
  import object_value from '../helpers/object_value'

  export default {
    components: {
      viewer__print
    },
    data: function () {
      return {
        search_input: ''
      }
    },
    computed: {
      pages() {
        return object_value(this, '$store.state.book.pages', [])
      },
      pages_amount() {
        return this.pages.length
      },
      current_page_number: {
        get() {
          return this.$store.state.current_page_number
        },
        set(value) {
          this.$store.commit('set_current_page_number', value)
        }
      },
      current_page_number_is_first() {
        return this.current_page_number === 1 || this.search_active
      },
      current_page_number_is_last() {
        return this.current_page_number === this.pages_number || this.search_active
      },
      search_active() {
        return this.$store.state.search.length > 0
      },
      show_notes() {
        return this.$store.state.show_notes
      },
      show_print() {
        return this.$store.state.show_print
      },
      citation_active() {
        return this.$store.state.citation_active
      },
      searching() {
        return this.$store.state.searching
      }
    },
    methods: {
      /**
       * Current page
       */
      current_page_number__decrement: throttle(200, function() {
        this.$store.dispatch('decrement_current_page_number')
      }),
      current_page_number__increment: throttle(200, function() {
        this.$store.dispatch('increment_current_page_number')
      }),
      /**
       * Notes
       */
      toggle_show_notes: throttle(10, function() {
        this.$store.commit('set_show_notes')
        this.$store.commit('set_citation_active', false)
      }),
      add_note() {
        this.$store.dispatch('create_note')
      },
      cite: throttle(10, function() {
        this.$store.commit('set_citation_active')

        if (!this.show_notes) {
          this.$store.dispatch('create_note')
        }
      }),
      /**
       * Print
       */
      print: throttle(10, function() {
        this.$store.commit('set_show_print')
      }),
      /**
       * Search
       */
      run_search: throttle(10, function() {
        this.$store.dispatch('run_search', this.search_input)
      }),
      reset_search: throttle(10, function() {
        this.search_input = null
        this.$store.commit('set_search', [])
      })
    }
  }
</script>