<template>
  <div class="b-viewer">
    <viewer__title />
    <viewer__header />

    <div class="b-viewer-main" v-if="pages" key="main">
      <viewer__bookmarks />
      <viewer__notes v-if="show_notes" />
      <viewer__thumbnails :pages="pages" />
      <viewer__pages :pages="pages" />
    </div>
    <div class="b-viewer-thumbnails_empty" v-else key="main">
      [Страниц в книге не найдено]
    </div>
  </div>
</template>

<script>
  import viewer__title from './viewer__title.vue'
  import viewer__header from './viewer__header.vue'
  import viewer__notes from './viewer__notes.vue'
  import viewer__bookmarks from './viewer__bookmarks.vue'
  import viewer__pages from './viewer__pages.vue'
  import viewer__thumbnails from './viewer__thumbnails.vue'

  import object_value from '../helpers/object_value'

  export default {
    components: {
      viewer__title,
      viewer__header,
      viewer__notes,
      viewer__bookmarks,
      viewer__pages,
      viewer__thumbnails
    },
    computed: {
      show_notes() {
        return this.$store.state.show_notes
      },
      book() {
        return this.$store.getters.book
      },
      pages() {
        return this.$store.getters.pages_for_search
      }
    }
  }
</script>