<template>
  <div :class="['b-viewer-bookmarks-list-item', is_current ? 'current' : '']"
       @mouseover="set_current_bookmark"
       @mouseleave="close">

    <div class="b-viewer-overlay"
         v-if="is_current"
         @click.prevent="close"></div>

    <button class="b-viewer-bookmarks-list-item-button"
            type="button"
            :style="{'background-color': bookmark.color}"
            @click="set_current_page_number">
      {{this.bookmark.page_number}}
    </button>

    <viewer__bookmarks__item__form v-if="is_current"
                                   :bookmark="bookmark" />
  </div>
</template>

<script>
  import viewer__bookmarks__item__form from './viewer__bookmarks__item__form.vue'

  export default {
    components: {
      viewer__bookmarks__item__form
    },
    props: {
      bookmark: {
        type: Object,
        required: true
      },
    },
    data: function () {
      return {
        show_form: false
      }
    },
    computed: {
      is_current() {
        return this.$store.state.current_bookmark === this.bookmark._id
      }
    },
    methods: {
      close() {
        this.$store.commit('set_current_bookmark', null)
      },
      set_current_bookmark() {
        this.$store.commit('set_current_bookmark', this.bookmark._id)
      },
      set_current_page_number() {
        this.$store.commit('set_current_page_number', this.bookmark.page_number)
        this.close()
      }
    }
  }
</script>