<template>
  <div class="b-viewer-bookmarks-wrap">
    <div class="b-viewer-bookmarks">
      <div class="b-viewer-bookmarks-list-item">
        <button class="b-viewer-bookmarks-list-item-button"
                type="button"
                title="Добавить закладку"
                @click="add">+</button>
      </div>

      <viewer__bookmarks__item
          v-if="bookmarks.length" key="bookmarks"
          v-for="bookmark in bookmarks"
          :key="bookmark.page_number"
          :bookmark="bookmark"
      />
    </div>
  </div>
</template>

<script>
  import viewer__bookmarks__item from './viewer__bookmarks__item.vue'

  export default {
    components: {
      viewer__bookmarks__item
    },
    computed: {
      bookmarks() {
        return this.$store.getters.bookmarks
      }
    },
    methods: {
      add() {
        console.log("[viewer__bookmarks] add() - bookmarks", this.bookmarks)
        let pages_ids = this.bookmarks.map(obj => obj.page_id)

        // Flatten
        pages_ids = pages_ids.filter(v => v)

        let current_page = this.$store.getters.page()
        console.log("[viewer__bookmarks] add() - current_page", current_page)

        let is_current_in_bookmarks = pages_ids.indexOf(current_page._id)
        console.log("[viewer__bookmarks] add() - is_current_in_bookmarks", is_current_in_bookmarks)

        let bookmark_for_current_page = this.$store.getters.bookmark()
        console.log("[viewer__bookmarks] add() - bookmark_for_current_page", bookmark_for_current_page)

        // If bookmark for this page exists, open this bookmark
        if (is_current_in_bookmarks > -1) {
          this.$store.commit('set_current_bookmark', bookmark_for_current_page._id)
        }

        // ...or create a new one
        else {
          this.$store.dispatch('create_bookmark')
        }
      }
    }
  }
</script>