// HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/
html
  color: #222
  font-size: 1em
  line-height: 1.4

::-moz-selection
  background: transparent
  text-shadow: none

::selection
  background: #b3d4fc
  text-shadow: none

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: vertical