$z_main(z = 0)
  z-index: 10 + z

$main_outer($maw = $size_max_width_outer)
  max-width: $maw
  margin: 0 auto
  box-sizing: border-box

$padding_horizontal()
  padding-right: 1.6rem
  padding-left: 1.6rem

  +min(tablet_x_from)
    padding-right: 3.2rem
    padding-left: 3.2rem

$box-shadow($c = $color_border, $w = 0.1rem)
  box-shadow: 0 0 0 $w $c inset;
  border: none

.b-flex
  display: flex
  align-items: baseline
  justify-content: space-between

.b-flex-1
  flex: 1

$button_reset()
  background: transparent
  border: none
  border-radius: 0
  padding: 0
  margin: 0
  color: $color_text_dark
  font-weight: normal
  text-align: left

  &:focus
    outline: none

$background-image($i = '', $p = center, $s = contain)
  background-position: $p
  background-size: $s
  background-repeat: no-repeat
  if $i
    background-image: url($i)

hr
  margin: 1.2rem 0
  border-top: $border