.b-link
  $button_reset()
  $text_inherit()
  color: $color_link
  cursor: pointer

  &:hover
    text-decoration: underline

.b-button
  $button_reset()
  $text_link_sm()
  padding: 1rem 1.2rem
  text-align: center
  cursor: pointer
  color: $color_link
  $box-shadow($color_link)
  transition: all 0.3s

  +min(tablet_from)
    padding: 1.2rem 1.6rem

  &, a&
    text-decoration: none

  &:hover
    box-shadow: none
    color: $color_text_inverted
    background: $color_button_bg

  &_x
    $text_link_m_resp()
    padding: 1.2rem 1.6rem

    +min(tablet_from)
      padding: 1rem 1.6rem

  &_primary
    box-shadow: none
    background: $color_button_bg
    color: $color_text_inverted

    &:hover
      background: $color_button_bg_hover

.b-button-close
  $button_reset()
  display: block
  position: relative
  width: 2.4rem
  height: 2.4rem
  cursor: pointer
  box-sizing: border-box
  transform: rotate(45deg)

  &::before,
  &::after
    content: ''
    position: absolute
    width: 2.4rem
    height: 0.1rem
    background: $color_link

  &::after
    transform: rotate(90deg)