<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#with title}}{{this}} | {{/with}}Viewer</title>
  {{! <link rel="icon" href="./images/favicon.ico" type="image/x-icon"> }}
</head>